
.filter-row,
.form-row-name,
.form-row-number-add {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}


.filter-row span,
.form-row-name span,
.form-row-number-add span {
  width: 120px; 
  display: inline-block;
}


.form-row-number-add button {
  margin-left: 10px;
}
